/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-style: inherit;
}
html,
body {
    height: 100%;
    color:white ;
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1140px;
    min-width: 420px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
.header {
    background-color: white;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}
.header__container {
    display: flex;
    min-height: 80px;
    align-items: center;
}
.header__search {
    color: inherit;
    font-size: 16px;
    font-weight: 700;
}
.header__menu {
    margin: 0 0 0 auto;
}

/* -------------------- Навигация ----------------------- */
.nav {
    display: flex; 
    font-size: 16px;
    font-weight: 700;
    flex-wrap: wrap;
    padding: 0px 5px;
}
.nav__link {
    margin-left: 50px;
    color: #111111;
    text-decoration: none;
    opacity: 0.75;
}
.nav__link:last-child {
    margin-right: 25px;
}
.nav__link:hover {
    opacity: 1;
}

/* --------------------- Page -----------------------------*/
.page{
    flex: 1 1 auto;
}
.page___main-block {
    background-color: #9bdadb;
}
.page__services {
    color: #111111;
    height: 664px;
}

/* --------------------- Main -----------------------------*/
.main-block {
    position: relative;
}
.main-block__container {
    display: flex;
}
.main-block__body {
    padding: 30px 30px 30px 30px;
    position: relative;
    z-index: 2;
    text-align: left;
    max-width: 589px;
    height: 698px;
}
.main-block__title {
    font-size: 96px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.main-block__title-two {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.main-block__text {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    padding: 70px 0px  0px 0px; /* Сверху справа снизу слева */
    font-weight: 400;
}
.main-block__image{
    max-width: 589px;
    height: 698px;
}
.main-block__image img{
    max-width: 589px;
    height: 698px;
}
.block-text__button {
    padding: 43px 0px 0px 0px;
}

/* --------------------- Button -----------------------------*/
.button{
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 12px;
    padding: 15px 52px 15px 51px;
    color:#111111;
    border-radius: 0px;
    background-color: #daebea ;
    justify-content: center;
    transition: background-color 0.3s ease 0s;
    margin: 46px auto 0 0;
}
.button:hover{
    background-color: #daebeaa8;
}
.button_blue{
    background: #99dddd;
    margin: 46px auto 0px 0px;
}

/* --------------------- FOOTER -----------------------------*/
.footer {
    background-color: #111111;
    height: 142px;
}
.footer__top p {
    text-align: center;
    background-color: #111111;
    padding: 49px 0 49px 0;
    margin: 49px 361px 49px 361px;
}
.footer__color{
    background-color: #111111;
}

/* --------------------- Второй сектор -----------------------------*/
.page__services {
    color: #111111;
}
.services__body-column {
    display: flex;
    margin: 0px -15px;
    grid-template-columns: repeat(4, calc(25% - 16.5px));
    grid-gap: 22px;
}
.services__body-title-one {
    font-size: 48px;
    width: 535px;
    font-weight: 700;
    margin: 80px auto 0;
    font-style: 'Lato', sans-serif;
    line-height: 1.1;
    color: #a8cecc;
    text-align: center;
}
.services__body-text {
    font-size: 20px;
    width: 852px;
    font-style: normal;
    margin: 20px auto 0;
    font-style: 'Open-Sans', sans-serif;
    color: #808080;
    text-align: center;
    
}
.services__column {
    grid-template-columns: repeat(4, calc(25% - 16.5px));
    grid-gap: 22px;
    flex: 0 1 25%;
    margin-top: 80px;
    border-left: 1px solid rgb(168, 206, 204) ;
    border-top: 1px solid rgb(168, 206, 204);
    border-right: 1px solid rgb(168, 206, 204);
    border-bottom: 1px solid rgb(168, 206, 204);
}
.services__item {
    height: 100%;
    padding: 28px;
    width: 100%;
    box-sizing: border-box;
    line-height: 1.6;
}
.item-service {
    text-align: left;
}
.item-service__icon {
    padding: 0px;
}
.item-service__icon img {
    box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.13);
    border-radius: 50%;
    height: 84px;
    width: 84px;
    margin: -50px auto 0 1px;
}
.item-service__title-one {
    font-size: 20px;
    font-style: 'Roboto', sans-serif;
    color: #a8cecc;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 20px 1px 0;
}
.item-service__text {
    font-size: 16px;
    font-style: 'Open-Sans', sans-serif;
    color: #111111;
    margin: 20px 1px 0;
    line-height: 1.6;
}

/* ---------------- Lab Tests ----------------------- */
.lab-tests__body {
    display: flex;  
}
.lab-tests__cont-one {
    flex: 0 1 25%;
}
.lab-tests__one-title {
    font-size: 60px;
    font-weight: 300;
    margin: 11px 0 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.1;
    color: #a8cecc;
    padding: 15px 0 20px;
    position: relative;
    flex: 1;
    max-width: 100%;
    border: 15px solid transparent;
}
.lab-tests__one-title span {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
.lab-tests__picture-one img {
    min-height: 469px;
    width: 643px;
    background-size: cover;
    padding: 20px 20px 20px 20px;
    position: relative;
    flex: 1;
    overflow: visible;
}
.lab-tests__cont-two {
    display: flex;
}
.lab-tests__cont-text{
    padding: 30px;
}
.lab-tests__two-title {
    flex: 0 0 auto;
    font-size: 30px;
    font-weight: 700;
    margin: 2px 0 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.1;
    color: #a8cecc;
}
.lab-tests__text {
    line-height: 2;
    margin: 20px 0 0;
    text-align: left;
    color: #111111;
    font-size: 16px;
    font-style: 'Open-Sans', sans-serif;
    font-weight: 400;
}
.button {
    margin: 30px auto 0 0;
    padding: 15px 52px 15px 51px;
}
.lab-tests__picture-two {
    border: 25px solid transparent;
}
.lab-tests__cont-four {
    display: flex;
    border: 15px 15px 15px 15px;
}
.lab-tests__cont-three {
    flex: 1 1 100%;
    padding: 50px 30px 20px 30px;
}
.lab-tests__three-title {
    font-size: 20px;
    font-style: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #a8cecc;
    margin: 0;
    letter-spacing: 2px;
}
.lab-tests__text-two {
    font-size: 16px;
    font-size: 'Open-Sans', sans-serif;
    font-weight: 400;
    color: #111111;
    line-height: 1.6;
    margin: 20px 0px 0px 0px;
}

/*------------------------- WHY PAGE ----------------------------*/
.page__why {
    background-color: #c0dddb;
}
.why__body {
    display: flex;
    width: 1140px ;
    height: 753px;
}
.why__cont-one {
    flex: 1;
    color: #ffffff;
    text-align: left;
    font-weight: 700;
    padding: 30px 60px 30px 30px;
    max-width: 100%;
    margin-top: 60px;
}
.why__cont-one-title {
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    margin: 0 135px 0 0;
    line-height: 1.1;
}
.why__cont-one-title--two {
    font-size: 140px;
    font-family: 'Roboto', sans-serif;
    margin: 17px 0 0;
    line-height: 1.1;
}
.why__cont-two {
    min-height: 523px;
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%;
    display: block;
    padding: 30px;
    margin-top: 60px;
}
.why__icon{
    flex-shrink: 0;
    display: block;
    margin-top: 60px;
}
.why__icon img{
    max-width:221px;
    max-height:221px;
}
.why__cont-two-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 1.6;
}

/* ------------------------- PAGE FEATURES ----------------------*/
.page-features__body {
    display: flex;
    min-height: 276px;
    margin: 0px -15px;
}
.page-features__column {
    padding: 0px 15px;
    flex: 0 1 25%;
}
.page-features__item {
    background-color: #f5fafa;
    grid-gap: 32px;
}
.item-features {
    text-align: center;
    line-height: 1.6;
    color:#a8cecc;
    padding: 0 0 30px;
    margin: -150px 0px 0px 0px;
}
.item-features >*:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.page-features__header{
    border-style: solid;
    border-width: 15px;
    border-color: #7d9a99;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 15px;
    transform-origin: left center;
}
.page-features__title {
    font-size: 72px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.page-features__title-two {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 20px 10px 0;
}
.page-features__title-tree {
    font-size: 16px;
    font-weight: 4000;
    font-family: 'Open-Sans', sans-serif;
    color: #111111;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*------------------------------- SYSTEM --------------------------------*/
.page__system {
    color: #111111;
    margin: 0px 0px 70px 0px;
}
.system__body {
    margin: 0px auto 0px 0px;
}
.system__title {
    text-align: center;
    margin: 60px auto 0;
    font-family: 'Lato', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    color: #a8cecc;
}
.system__text {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    width: 776px;
    font-family: 'Open-Sans', sans-serif;
    margin: 34px auto 0;
    line-height: 1.6;
}
.system__cont-two {
    margin-top: 55px;
    grid-gap: 20px;
}
.system__cont-two-body {
    border-style: solid;
    border-color: #a8cecc;
    border-width: 1px;
}
.system__item {
    padding: 30px 30px 14px;
    flex: 1;
    min-height: 417px;
    box-sizing: border-box;
}
.system__title-two{
    font-family: 'Open-Sans', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 0.8;
    color: #a8cecc;
    margin: 22px auto 0 0;
}
.item-system__icon img{
    object-fit: cover;
    max-width: 305px;
    height: 208px;
}
.item-system__text {
    color: #808080;
    line-height: 1.6;
    text-align: left;
    margin: -38px 0 0 41px;
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*------------------------------- Page OUR -------------------------*/
.page__our {
    color: #ffffff;
    min-height: 100%;
    max-width: 100%;
}
.our__body {
    display: flex;
}
.our__picture-one {
    background-position: 50% 50%;
    max-width: 475px;
    min-height: 448px;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    min-width: 33.33333333%;
    background-image: url("D:/Visual Studia Code/University/img/dentist.jpg");
    min-height: 448px;
    background-position: 50% 50%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}
.our__con {
    text-align: center;
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    min-width: 33.33333333%;
    min-height: 448px;
    background-color: #a8cecc;
    padding: 30px;
}
.our__con-icon img{
    height: 40px;
    width: 40px;
    margin: 35px auto 0px auto;
}
.our__con-title {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    margin: 20px 0 0;
}
.our__con-text {
    margin: 20px 0 0;
    font-family: 'Open-Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
}
.our__picture-two {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
    min-width: 33.33333333%;
    background-size: cover;
    max-width: 475px;
    background-position: 50% 50%;
    background-image: url("D:/Visual Studia Code/University/img/proba.jpeg");
    min-height: 448px;
    background-position: 50% 50%;
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

/*------------------------------- Page DIAGRAMS -------------------------*/
.page__diagrams {
    color: #ffffff;
    background-color: #536766;
}
.diagrams__cont {
    grid-gap: 10px;
    display: flex;
}
.diagrams__cont-page {
    min-height: 291px;
    margin-bottom: 50px;
    text-align: center;
    flex: 0 0 25%;
}
.diagrams__icon {
    margin: 20px auto 0;
}
.diagrams__icon img{
    max-width: 40px;
    max-height: 40px;
}
.diagrams__title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 20px 16px 0;
}
.diagrams__text {
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 20px 16px 0;
}

/*------------------------------- PAGE LOCATION -------------------------*/
.page__location {
    color: #111111;
    text-align: left;
}
.location__con {
    margin-top: 70px;
    margin-bottom: 0;
    display: flex;
}
.location__cont-one {
    flex: 0 0 65%;
    max-width: 65%;
    min-width: 65%;
    min-height: 607px;
    background-image:  url("D:/Visual Studia Code/University/img/doctor_hand.jpeg");
    background-position: 50% 50%;
}
.location__cont-two {
    padding: 50px 30px 60px;
    flex: 0 0 35%;
    max-width: 35%;
    min-width: 35%;
}
.location__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    color: #a8cecc;
}
.location__title-two {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0 0;
    line-height: 1.2;
}
.location__text {
    font-family: 'Open-Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 35px 0 0;
    line-height: 1.6;
}

/*------------------------------- PAGE CONTACTS -------------------------*/
.page__contacts {
    color: #ffffff;
    text-align: left;
}
.contacts__cont {
    display: grid;
    background-color: #a8cecc;
    grid-auto-rows: 100%;
    margin-top: 58px;
    margin-bottom: 70px;
    grid-template-columns: repeat(3, 33.3333%);
    min-height: 186px;
    grid-gap: 0px;
}
.contacts__cont-one {
    padding: 45px 30px 23px;
    min-height: 186px;
    max-width: 100%;
    display: block;
}
.contacts-cont-icon {
    display: flex;
    max-height: 24px;
}
.contacts__icon {
    max-width: 28px;
    max-height: 28px;
}
.contacts__icon img{
    max-width: 28px;
    max-height: 28px;
}
.contacts__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin: 0px 0 0 20px;
}
.contacts__text {
    margin: 20px 0px 0px 0px;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

/*------------------------------- ОПТИМИЗАЦИЯ САЙТА -------------------------------*/
@media (max-widht: 992px) {
    .header__menu {
        margin: 0px 0px 0px 508px;
    }
    .lab-tests__body {
        display: none;
    }
}
@media(min-width: 992px) {
    .why__body{
        max-width: 1140px;
    }
    .why__icon{
        margin: 20px 1px 0px 288px;
    }
    .why__cont-two-text {
        font-size: 20px;
        margin: 20px 1px 0;
    }
    .diagrams__cont-page {
        margin-top: 80px;
    }
    .system__cont-two {
        display: flex;
    }
    .system__cont-two-body {
        display: flex;
        flex: 1;
    }
}
@media(max-width: 991px) {
    .why__body{
        max-width: 920px;
    }
    .why__icon{
        margin: 20px 1px 0px 58px;
    }
    .why__cont-one-title {
        font-size: 32px;
    }
    .why__cont-two-text {
        font-size: 18px;
        margin: 20px 1px 0px 1px;
    }
    .lab-tests__body {
        display: block;
    }
    .diagrams__cont-page {
        margin: 80px -10px 80px -10px;
    }
    .system__cont-two-body {
        display: grid;
    }
    .system__cont-two {
        display: grid;
        grid-template-columns: repeat(2, calc(50% - 9.999975px));
    }
    .system__cont-two-body {
        display: grid;
    }
}
@media (max-widht: 479px) {
    .header__container {
        min-height: 55px;
    }
    .header__menu {
        margin: 0px 0px 0px 308px;
    }
    .nav__link {
        font-size: 18px;
    }
}
@media (max-widht: 767px) {
    .header__menu {
        margin: 0px 0px 0px 408px;
    }
}
@media (max-width: 768px){
    .main-block__container {
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 425px){
    .main-block {
        padding: 80px 20px 80px 20px;
    }
    .main-block__body {
        padding: 0px 0px 0px 0px;
    }
    .main-block__container {
        display: flex;
        flex-direction: column;
    }
    .main-block__title {
        font-size: 70px;
    }
    .main-block__title-two {
        font-size: 20px;
    }
    .main-block__text {
        font-size: 16px;
    }
    .main-block__image img{
        max-width: 425px;
        height: 589px;
    }
}
@media(min-width: 853px) {
    .button{
        letter-spacing: 3px;
    }
}
@media(max-width: 960px){
    .lab-tests__body {
        margin: 180px 0px 60px 0px;  
    }
}
@media(min-width: 961px){
    .lab-tests__body {
        margin: 80px 0px 60px 0px;  
    }
}